

.animation_cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh;

}

.Imagea{
    background: rgb(89, 156, 194);
}

.Time_Temp{
    width: 300px;
    height: 300px;
    background: rgb(126, 89, 194);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
    box-shadow: 5px 5px 30px rgb(78, 50, 129),
                -5px -5px 30px rgb(179, 140, 253),
                5px 5px 30px rgb(78, 50, 129) inset,
                -5px -5px 30px rgb(179, 140, 253) inset;
    transition: 1s;

    
}

.Time_Temp:hover{
    height: 350px;
    width: 350px;
    font-size: 55px;
}

.Temperatur{
    color: aliceblue;
    font-size: 50px;
    transition: 1s;
}

.Time{
    color: aliceblue;
    font-size: 24px;
}

/* Attemp 2 */
.weather_a{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 480px;
    height: 480px;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 20%;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.26),
    -5px -5px 30px rgba(255, 255, 255, 0.274);
    transition: 1s;
    font-family: 'Lucida Sans';
}

/* .weather_a:hover{
    height: 470px;
    width: 480px;
} */

.top{
    padding-top: 10px;
    color: aliceblue;
    font-size: 20px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
}

.temperature{
    font-size: 30px;
}
.details{
    font-size: 20px;
}

.react-icons {
    vertical-align: middle;
    font-size: 30px;
  }
.toptop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temperature_true{
    display: flex;
    flex-direction: column;
}

.city{
    font-size: 30px;
    margin-left: 10px;
}
.weather-description{
    margin-left: 10px;
}

.city-time{
    margin-left: 10px;
}


@media all and (max-width:500px){
    .animation_cont{
        display: flex;
        align-items: center;
    }

    .weather_a{
        padding: 23px;
    }

    .city{
        font-size: 20px;
    }

    .top{
        font-size: 15px;
    }
    .temperature{
        font-size: 15px;
    }
    .details{
        font-size: 15px;
    }

    
  }