
body{
  background: gold;
}

.container{
  max-width: 600px;
  max-height: auto;
  margin:auto;
  padding: 30px;
}

.Gaga{
  background-image: linear-gradient(rgb(0, 0, 0) , rgb(11, 10, 87), rgb(59, 0, 114));
}

.sunrise{
  background-image: linear-gradient(rgb(192, 56, 56) , rgb(238, 188, 80));
}

.day{
  background-image: linear-gradient(rgb(34, 143, 233) , rgb(245, 221, 145));
}

.sunset{
    background-image: linear-gradient(rgb(160, 56, 192) , rgb(238, 188, 80));
}

.night{
  background-image: linear-gradient(rgb(0, 0, 0) , rgb(11, 10, 87), rgb(59, 0, 114));
}

