
body {
  margin: 0;
  font-family: "Roboto",Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 215, 159);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.root{
  /* background-image: linear-gradient(to bottom right, rgb(42, 43, 117) , rgb(255, 196, 0)); */
}


